*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{

    scroll-behavior:smooth;

}

body{

    font-family:'Inter',sans-serif;

    background:#D9EBF8;

    color:#17324A;

    overflow-x:hidden;

}

.container{

    width:90%;
    max-width:1400px;
    margin:auto;

}

section{

    padding:120px 0;

}

a{

    text-decoration:none;
    color:inherit;

}

img{

    display:block;
    max-width:100%;

}

button{

    border:none;
    cursor:pointer;
    font-family:inherit;

}